.booking-title {
  text-align: center;
  color: #0f172a;
  font-size: 32px;
  margin-bottom: 5px;
}

.booking-subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 25px;
}

.booking-card {
  width: 550px;
}